<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wacky Widgets</title>
</head>
<body>
    <h2>Wacky Widgets</h2>
    {% if widgets %}
    <table>
        <tr>
            <th>Description</th>
            <th>Quantity</th>
            <th>Delete</th>
        </tr>
        {% for widget in widgets %}
        <tr>
            <td>{{widget.description}}</td>
            <td>{{widget.quantity}}</td>
            <td><a href="{% url 'delete_widget' widget.id %}">X</a></td>
        </tr>
        {% endfor %}
    </table>
        {% else %}
            <h3>No Widgets Exist!</h2>
        {% endif %}
        <hr>
        <h3>Create A Widget</h2>
        <form action="{% url 'create_widget' %}" method="post">
            {% csrf_token %}
            <table>
                {{ widget_form.as_table }}
            </table>
            <input type="submit" class="btn" value="Add Widget">
        </form>
</body>
</html>